{% extends 'base.html.twig' %}

{% block title %}New Water{% endblock %}

{% block body %}
    <h1>Create new Water</h1>

    {{ include('water/_form.html.twig') }}

    <a href="{{ path('app_water_index') }}">back to list</a>
{% endblock %}
