{% extends 'base.html.twig' %}

{% block title %}New Disturbed{% endblock %}

{% block body %}
    <h1>Create new Disturbed</h1>

    {{ include('disturbed/_form.html.twig') }}

    <a href="{{ path('app_disturbed_index') }}">back to list</a>
{% endblock %}
