{% if is_granted('ROLE_SUPER_ADMIN') %}
<form method="post" action="{{ path('app_counting_campaign_delete', {'id': counting_campaign.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ counting_campaign.id) }}">
    <button class="btn btn-danger btn-sm bi bi-trash-fill mx-2" title="Supprimer la campagne"></button>
</form>
{% endif %}