{% extends 'base.html.twig' %}

{% block title %}New BirdSpeciesCount{% endblock %}

{% block body %}
    <h1>Create new BirdSpeciesCount</h1>

    {{ include('bird_species_count/_form.html.twig') }}

    <a href="{{ path('app_bird_species_count_index') }}">back to list</a>
{% endblock %}
