<form method="post" action="{{ path('app_environmental_conditions_delete', {'id': environmental_condition.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ environmental_condition.id) }}">
    <button class="btn-action btn btn-outline-danger btn-sm bi bi-x-circle-fill mx-2"> Supprimer</button>
</form>
