{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('app_site_collection_delete', {'id': site_collection.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ site_collection.id) }}">
    <button class="btn btn-danger btn-sm bi bi-trash mx-2" title="Supprimer"></button>
</form>
{% endif %}