{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('app_collected_data_delete', {'id': collected_datum.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collected_datum.id) }}">
    <button class="btn-action btn btn-outline-danger btn-sm bi bi-x-circle-fill"> Supprimer</button>
</form>
{% endif %}