{# <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> #}
{% if is_granted('ROLE_DELETE') %}
<form id="delete-form" method="post" action="{{ path('app_logo_delete', {'id': logo.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ logo.id) }}">
    <button type="button" onclick="confirmDelete()" class="btn btn-danger btn-sm bi bi-trash mx-2" title="Supprimer le logo"></button>
</form>
{% endif %}<script>
    function confirmDelete() {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success swal2-button-space',
                cancelButton: 'btn btn-danger swal2-button-space'
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: 'Êtes-vous sûr ?',
            text: 'Vous ne pourrez pas revenir en arrière !',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Oui, supprimer !',
            cancelButtonText: 'Non, annuler !',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // Soumettre le formulaire si l'utilisateur confirme la suppression
                document.getElementById('delete-form').submit();
                swalWithBootstrapButtons.fire({
                    title: 'Supprimé !',
                    text: 'L\'élément a été supprimé.',
                    icon: 'success'
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                swalWithBootstrapButtons.fire({
                    title: 'Annulé',
                    text: 'Votre élément est toujours en sécurité :)',
                    icon: 'error'
                });
            }
        });
    }
</script>