{% extends 'base.html.twig' %}

{% block title %}New CampaignStatus{% endblock %}

{% block body %}
    <h1>Create new CampaignStatus</h1>

    {{ include('campaign_status/_form.html.twig') }}

    <a href="{{ path('app_campaign_status_index') }}">back to list</a>
{% endblock %}
