{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <main id="main" class="main">
        <section class="section">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1>403</h1>

                    <p>
                        403
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}