{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('app_bird_family_delete', {'id': bird_family.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bird_family.id) }}">
    <button class="btn-action btn btn-outline-danger btn-sm bi bi-x-circle-fill mx-1"> Supprimer</button>
</form>
{% endif %}